<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

  <TITLE>Avaloq Block Explorer</TITLE>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div class = "container">
    <nav class=" nav navbar navbar-default navbar-static-top">
      <div class="container">
        <img src="/res/avaloq-logo-blue.png"  height="35" vspace="10" style="display: inline-block;">
        <img src="/res/bitcoin explorer.png" height="35" vspace="10" hspace="50" align = "right">
      </div>
    </nav>

    <div class = "container">
      <h1>Information on address: <%= data.address %></h1>
      <dl class="dl-horizontal">
        <dt>Nb Transactions</dt>
        <dd><%= data.n_tx %></dd>
        <dt>Bitcoin received</dt>
        <dd><%= data.total_received/1E8 %></dd>
        <dt>Bitcoin sent</dt>
        <dd><%= data.total_sent/1E8 %></dd>
        <dt>Balance</dt>
        <dd><%= data.final_balance/1E8 %></dd>
      </dl>

      <% for(var i = 0; i < data.txs.length; i++) {
        var date = new Date(data.txs[i].time*1000);
        var datestr = date.toISOString().replace(/T/, ' ').replace(/\..+/, '');%>

        <div class = "panel panel-default">
          <div class = "panel-heading"><%= datestr + " - Transaction Id: " + data.txs[i].hash %></div>
          <div class="panel-body">
            <div class = "container col-sm-4" style = "font-size: 12px;">
              <p><b>From</b></p>
              <% for(var j = 0; j < data.txs[i].inputs.length; j++) {%>
                <A href="/txAddress/<%= data.txs[i].inputs[j].prev_out.addr%>"><%=data.txs[i].inputs[j].prev_out.addr%></A>
                <br>
              <% } %>
            </div>
            <div class = "container col-sm-1" style = "font-size: 12px;">
              <p><b>Amount</b></p>
              <% for(var j = 0; j < data.txs[i].inputs.length; j++) {%>
                <%= (data.txs[i].inputs[j].prev_out.value/1E8).toFixed(2) %> <br>
              <% } %>
            </div>
            <div class = "container col-sm-2" style = "font-size: 12px;">
              <img src="/res/arrow_right_green.png" class="img-responsive center-block">
            </div>
            <div class = "container col-sm-4" style = "font-size: 12px;">
              <p><b>To</b></p>
              <% for(var j = 0; j < data.txs[i].out.length; j++) {%>
                <A href="/txAddress/<%= data.txs[i].out[j].addr%>"><%=data.txs[i].out[j].addr%></A>
              <% } %>
            </div>
            <div class = "container col-sm-1" style = "font-size: 12px;">
              <p><b>Amount</b></p>
              <% for(var j = 0; j < data.txs[i].out.length; j++) {%>
                <%= (data.txs[i].out[j].value/1E8).toFixed(2) %> <br>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>


      <table class = "table">
        <tr><th>From</th><th>Amount</th><th>To</th><th>Amount</th></tr>
        <% for(var i = 0; i < data.txs.length; i++) {%>
          <tr>
            <td>
              <% for(var j = 0; j < data.txs[i].inputs.length; j++) {%>
                <%= data.txs[i].inputs[j].prev_out.addr %> <br>
              <% } %>
            </td>
            <td>
              <% for(var j = 0; j < data.txs[i].inputs.length; j++) {%>
                <%= data.txs[i].inputs[j].prev_out.value %> <br>
              <% } %>
            </td>
            <td>
              <% for(var j = 0; j < data.txs[i].out.length; j++) {%>
                <%= data.txs[i].out[j].addr %> <br>
              <% } %>
            </td>
            <td>
              <% for(var j = 0; j < data.txs[i].out.length; j++) {%>
                <%= data.txs[i].out[j].value %> <br>
              <% } %>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>
</body>
</html>
